* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: rgb(250, 246, 241);
}
.header {
  width: 100%;
  background-color: rgb(58, 44, 44);
  height: 70px;
  
}

.logo {
  font-size: 35px;
  color: rgb(245, 252, 147);
  width: 20%;
  float: left;
  font-family: monospace;
}

.logo h3 {
  padding: 10px 40px;
}
.menu {
  width: 80%;
  float: right;
  
}

i.hamburger{
  display: none;
}

.menu ul {
  text-align: center;
  list-style: none;
  margin-top: 6px;
  float: right;
  padding-right: 6px;
}

.menu ul a li {
  display: inline-block;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: antiquewhite;
}

.menu ul li:hover {
  background-color: rgb(98, 75, 75);
  font-size: 20px;
}

.part1 {
  max-width: 25%;
  float: left;
  background-repeat: no-repeat;
}
.part2 {
  max-width: 25%;

  float: left;
  background-repeat: no-repeat;
}

.part3 {
  max-width: 25%;

  float: left;
  background-repeat: no-repeat;
}

.part4 {
  max-width: 25%;

  float: left;
  background-repeat: no-repeat;
}

.Welcome {
  background-repeat: no-repeat;
  font-size: 50px;
  color: white;
}

.Welcome p {
  position: absolute;
  text-align: center;
  font-size: 50px;
}





